{% extends 'topic/master.html' %}
{% block CSS %}
<style>
    a.count_blue:visited, a.count_green:visited, a.count_orange:visited, a.count_livid:visited {
        line-height: 12px;
        font-weight: bold;
        color: white;
        background-color: #e5e5e5;
        display: inline-block;
        padding: 2px 10px 2px 10px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        text-decoration: none;
        margin-right: 5px;
    }

    .topic-avatar {
        margin-right: 26px;
    }
    .topic-title {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block main %}
    <div class="box">
        <div class="inner" style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;" id="Tabs">
            {% for obj in category_obj %}
                {% if current_tab == obj.code %}
                    <a class="btn btn-sm btn-secondary" href="{% url 'index' %}?tab={{ obj.code }}">{{ obj.name }}</a>
                {% else %}
                    <a class="btn btn-sm btn-light" href="{% url 'index' %}?tab={{ obj.code }}">{{ obj.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% if not category_obj.hot %}
            <div class="cell" style="background-color: #f9f9f9; padding: 10px 10px 10px 20px;">
                {% for obj in category_children_obj %}
                    <a href="{% url 'node' obj.code %}" class="badge badge-dark">{{ obj.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% for obj in topic_obj %}
        <div class="cell item" style="">
            <div class="row">
                <div class="col-1 topic-avatar">
                    <img src="{{ obj.author.avatar }}" alt="{{ obj.author.username }}" width="48px" height="48px">
                </div>
                <div class="col-8">
                    <div class="row topic-title">
                        <div><a href="{% url 'topic' obj.topic_sn  %}">{{ obj.title }}</a></div>
                    </div>
                    <div class="row topic-info">
                        <a href="{% url 'member' obj.author.username %}">{{ obj.author.username }}</a>  •
                        <strong>{{ obj.add_time }}</strong>  •
                        <strong>最后回复于。。。</strong>
                    </div>
                </div>
                <div class="col-1  offset-1">
                    <a href="{% url 'topic' obj.topic_sn %}" class="badge badge-pill badge-secondary">&nbsp;{{ obj.click_num }}&nbsp;</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="inner">
            <span class="chevron">→</span> <a href="{% url 'recent' %}">更多新主题</a>
        </div>
    </div>
{% endblock %}
